/* basic p1

$primary_color: red;
$size: 32;
// 32 * 1px = 32px
$text_size: $size * 1px;
// 32 + px => 1 string
$text_size_string: 32 + px;
// 32px / 1px = 32
$text_size_number: $text_size / 1px;

h1 {
  color: $primary_color;
}

p {
  font: {
    size: $text_size_string;
  }
}
 */

// p2

/* 
$background-url: "../images/";

div.bg {
  background: $background-url + "div-bg.png";
}

p.background {
  background: $background-url + "p-bg.png";
} 
*/

$color: #8bc34a;
$light-color: lighten($color, 15%); // sáng hơn 15%
$dark-color: darken($color, 20%); // tôi hơn 20%
$plus-color: orange + blue; // kết hợp 2 màu

h1,
p {
  background-color: $plus-color;
  color: yellow;
  padding: 10px;
}
